#配置通用内容
# 多环境配置文件激活属性,以开发环境为默认配置
spring:
  application:
    name: license-demo
  profiles:
    active: dev
  cache:
    type: redis
    redis:
      time-to-live: 1d  #很重要，缓存的有效时间，以便缓存的过期
      cache-null-values: false #是否缓存空值
  datasource:
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  thymeleaf:
      cache: false
      prefix: classpath:/templates/
      suffix: .html

# pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
