<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 引用替换当前的头部信息html
	曲义解释：
		引用header.html 定义的 header片段
-->
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
</head>
<body>
<!-- page content -->
<div class="container blog-content-container">
    <h3 th:text="${userModel.title}">create user</h3>

    <!-- 获取userModel绑定user -->
    <form action="/user/submit" th:action="@{/user/submit}" method="post"
          th:object="${userModel.user}">
        <!-- 直接取出当前对象属性的值 -->
        名称：<br> <input type="text"  name="username" th:value="*{username}"><br>
        <!-- 直接取出当前对象属性的值 -->
        密码：<br> <input type="password" name="password" th:value="*{password}"><br>
        <!-- 直接取出当前对象属性的值 -->
        邮箱：<br> <input type="text" name="email" th:value="*{email}"><br>
        <!-- 直接取出当前对象属性的值 -->
        <input type="submit" class="btn btn-default" value="提交">
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>