<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="navbar-fixed-bottom" th:fragment="footer">
    <div class="text-center">Copyright @ 2001-2012 Ysstech,All Rights Reserved
        <a href="http://www.miitbeian.gov.cn/">粤ICP备05050184号</a>
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/3719252.js"></script>
        <a href="https://www.51.la/?comId=3719252" title="51.La 网站流量统计系统" target="_blank">
            <span style="display:inline-block;background-color:#EF5350;color:#fff;padding:2px 5px;font-family:arial;font-size:12px;font-weight:bold;">51La</span>
        </a>
    </div>
</footer>
</body>
</html>