<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<!--背景图-->
<div style="position:absolute;z-index:-1;width:100%;height:100%;">
    <img th:src="@{image/login-background.jpg}" width="100%" height="100%"/>
</div>
<h1 align="center">欢迎登录赢时胜许可管理系统</h1>
<hr>
<div align="center">
    <div th:if="${param.error}">
        用户名或密码错
    </div>
    <div th:if="${param.logout}">
        您已注销成功
    </div>
    <form th:action="@{/login}" method="post">
        用户名:<input name="username"/><br>
        密&nbsp;&nbsp;&nbsp;码:<input name="password"><br/>
        <input type="submit" value="登陆">
    </form>
</div>
</body>
</html>