<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--引用替换公共的头部header.html 定义的 header片段-->
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
</head>
<body>

<div class="container">
    <div class="starter-template">
        <h2>欢迎登录赢时胜许可管理系统</h2><br><br>

        <p th:if="${param.error}" class="bg-danger">用户名或密码错误，请重试</p>
        <div align="center">
            <form th:action="@{/login}" method="post">
                <label>用户名:</label>&nbsp;
                <input name="username"/><br><br>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;密码:</label>&nbsp;
                <input name="password"><br/><br/>
                <input type="submit" value="登陆">
            </form>
        </div>
    </div>

</div>

<!-- 公共 的 定义好的 fotter模板引用  无参  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>